.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title= title

      .modal-body
        != body

      if footer
        .modal-footer!= footer
