#js-nav.nav
  ul.nav-list
    li.nav-list-item
      a.nav-link.active.js-nav-link(href="#", data-slide-index="0") Logo (TODO)
    li.nav-list-item
      a.nav-link.js-nav-link(href="#", data-slide-index="1") Rent Request
    li.nav-list-item
      a.nav-link.js-nav-link(href="#", data-slide-index="2") How it Works
    li.nav-list-item
      a.nav-link.js-nav-link(href="#", data-slide-index="3") About Us
    li.nav-list-item
      a.nav-link.js-nav-link(href="#", data-slide-index="4") Find Travelers
