.nav
  ul.nav-list
    li.nav-list-item
      a.nav-link(href="#") Logo (TODO)
    li.nav-list-item
      a.nav-link(href="#") Rent Request
    li.nav-list-item
      a.nav-link(href="#") How it Works
    li.nav-list-item
      a.nav-link(href="#") About Us
    li.nav-list-item
      a.nav-link(href="#") Find Travelers
