#js-nav.nav
  ul.nav-list
    li.nav-list-item
      a.nav-link.active.js-nav-link(href="#") Logo (TODO)
    li.nav-list-item
      a.nav-link.js-nav-link(href="#", data-slide-index="0") Rent Request
    li.nav-list-item
      a.nav-link.js-nav-link(href="#", data-slide-index="1") How it Works
    li.nav-list-item
      a.nav-link.js-nav-link(href="#", data-slide-index="2") About Us
    li.nav-list-item
      a.nav-link.js-nav-link(href="#", data-slide-index="3") Find Travelers
