include ./mixins/nav

#js-nav.navbar
  ul.nav-list
    li.nav-list-item
      a.nav-link.active.js-nav-link(href="/")
        +logo()

    li.nav-list-item
      a.nav-link.js-nav-link(href="/rentalrequest") Rent Requests
    li.nav-list-item
      a.nav-link.js-nav-link(href="/properties") My Property Profiles

    .u-pull-right
      li.nav-list-item
        a.nav-link(href="/logout") Log Out
