#js-nav.nav
  ul.nav-list
    li.nav-list-item
      a.nav-link.active.js-nav-link(href="#") Logo (TODO)

    li.nav-list-item
      a.nav-link.js-nav-link(href="#") Rent Requests
    li.nav-list-item
      a.nav-link.js-nav-link(href="#") My Property Profiles

    .u-pull-right
      li.nav-list-item
        a.nav-link(href="/account") Account
