extends layout

block body

  .p-home
    .row
      .twelve.columns
        .carousel
          .controls
            a(href="#")
              i.js-prev.left.arrow.fa.fa-chevron-left.fa-4x
            a(href="#")
              i.js-next.right.arrow.fa.fa-chevron-right.fa-4x

          .slides(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}')
            .slide
              .row
                .twelve.columns
                  h1.text-center Welcome to Rent Liason

              .row
                .u-full-width
                  .p-home--center-unit
                    button.button.button-primary.p-home--big-button Get Started
                    .text-deemphasize.text-center by completing a rent request
                    button.button How it Works

            .slide
              .row
                .twelve.columns
                  h1.text-center How it Works

              .row
                //- TODO
                mixin img()
                  div(style="background-color:#e1e1e1;height:200px;") placeholder

                .four.columns
                  .text-center
                    h2 Step 1
                    p submit rent request
                    +img()
                .four.columns
                  .text-center
                    h2 Step 2
                    p your rent request is published
                    +img()
                .four.columns
                  .text-center
                    h2 Step 3
                    p owners contact you
                    +img()

            .slide
              .row
                .twelve.columns
                  h1.text-center About us
              .row
                .four.columns.offset-by-two.columns.p-home--info-card
                  h2.text-center Mission
                .four.columns.p-home--info-card
                  h2.text-center History
              .row
                .four.columns.offset-by-two.columns.p-home--info-card
                  h2.text-center Press
                .four.columns.p-home--info-card
                  h2.text-center Contact Us

            .slide
              .row
                .twelve.columns
                  .text-center
                    h2 Find Travelers
                    p Text text text
