doctype html

html

  head
    title Rent Liason

    //- styles
    block styles
      link(rel="stylesheet" href="/styles/importer.css")
    
    script(src="//load.sumome.com/", data-sumo-site-id="c7c14b7b1ab9bc5fd04a74473f65fd89ebbb1e247891348a3871fc2e68fdf6e8", async="async")
  body
    .container

      block nav
        include _nav

      block body

    block scripts
      //- scripts
      if process.env.NODE_ENV === 'development'
        script(src="/js/vendor/requirejs/require.js")
        script(src="/js/config.js")
      else
        script(src="/js/source.js")

      if process.env.NODE_ENV === 'production'
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-62948642-1', 'auto');
          ga('send', 'pageview');
