doctype html

html

  head
    title Rent Liason

    //- styles
    link(rel="stylesheet" href="/styles/importer.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    block styles

  body
    .container

      include _nav

      block body

    //- scripts
    script(src="/js/main.js")
