doctype html

html

  head
    title Rent Liason

    //- styles
    block styles
      link(rel="stylesheet" href="/styles/importer.css")
      link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

  body
    .container

      block nav
        include _nav

      block body

    block scripts
      //- scripts
      if process.env.NODE_ENV == 'development'
        script(src="/js/vendor/requirejs/require.js")
        script(src="/js/config.js")
      else
        script(src="/js/source.js")
