include ./mixins/forms
include ./mixins/tabs
include ./mixins/rent_request

extends layout

//- block nav
//-   //- empty

block body

  #js-rental-request(data-rental-request-id=rentalRequest.id).p-rent-request

    .row
      .twelve.columns
        .row
          h1 Rental Request

        if welcome
          .row.alert
            strong Your Rent Request has been confirmed!&nbsp;
            br
            | We are already working hard to find a vacation
            | rental to match your needs.
            | Please bookmark this link (it's already in your email).
            | You can return to this page to modify your Rent Request at any time.

        .row
          #js-rent-request-progress
            include ./modules/rentalRequest/completion_progress

    .row
      .three.columns
        .p-rent-request--tab-area
          +side_tab_list()
            +tab("personal-info", true)(class="tag") Personal Info
            +tab("group-info")(class="tag") Group Info
            +tab("property-info")(class="tag") Property Info

      .nine.columns
        .row
          +tab_panel("personal-info", true)
            form.js-user-form
              h2 Personal Information
              .row
                .four.columns
                  +user_first_name(rentalRequest)
                .four.columns
                  +user_last_name(rentalRequest)

              .row
                .eight.columns
                  label Email
                  p= rentalRequest.user.email

              .row
                .eight.columns
                  +input('address1', 'renterDetails[address1]', rentalRequest.user.renterDetails.address1, 'Address')
                  +input('address2', 'renterDetails[address2]', rentalRequest.user.renterDetails.address2)

              .row
                .eight.columns
                  +input('city', 'renterDetails[city]', rentalRequest.user.renterDetails.city, 'City')
              .row
                .five.columns
                  label(for="state") State
                  +state_select(rentalRequest.user.renterDetails.state)(id="state", name="renterDetails[state]", class="u-full-width")
                .three.columns
                  +input('zip', 'renterDetails[zip]', rentalRequest.user.renterDetails.zip, 'Zip')

              .row
                button(type="submit") Submit

          +tab_panel("group-info")
            form.js-rental-request-form
              h2 Group Information
              .row
                .four.columns
                  +start_date(rentalRequest)
                .four.columns
                  +end_date(rentalRequest)

              .row
                +flexible_dates(rentalRequest)

              .row
                .two.columns
                  +number_adults(rentalRequest)
                .two.columns
                  +number_children(rentalRequest)
                .four.columns
                  +input('budget', 'budget', rentalRequest.budget, 'Budget')(type='number', step=".01")

              .row
                .eight.columns
                  +input('occasion', 'occasion', rentalRequest.occasion, 'Occasion')(type='text')
              .row
                .eight.columns
                  label(for="group-comments") Additional Comments
                  textarea.u-full-width#group-comments(name="groupComments")= rentalRequest.groupComments
              .row
                button(type="submit") Submit

          +tab_panel("property-info")
            form.js-rental-request-form
              h2 Property Characteristics
              .row
                .ten.columns
                  label Destinations
                  +destination_select(destinations, rentalRequest)

              .row
                .ten.columns
                  label Location Characteristics
                  +location_select(locations, rentalRequest)

              .row
                .ten.columns
                  label Desired Amenities
                  +amenity_select(amenities, rentalRequest)

              .row
                .two.columns
                  +input('bedrooms', 'bedrooms', rentalRequest.bedrooms, 'Bedrooms')(type='number')
                .two.columns
                  +input('sleeps', 'sleeps', rentalRequest.sleeps, 'Sleeps')(type='number')

              .row
                button(type="submit") Submit

  script.
    window.rentalRequest = !{JSON.stringify(rentalRequest)}
