include ../../mixins/forms
include ../../mixins/tabs
include ../../mixins/rent_request

extends ../../rent_request_layout

block body

  #js-rental-request(data-rental-request-id=rentalRequest.id).p-rent-request

    .row
      .twelve.columns
        .row
          h1 Rental Request

        if welcome
          .row.alert
            strong Your Rent Request has been confirmed!&nbsp;
            br
            | We are already working hard to find a vacation
            | rental to match your needs.
            | Please bookmark this link (it's already in your email).
            | You can return to this page to modify your Rent Request at any time.

        .row
          p In order to make your request as attractive as possible to property owners,
            | please add some more information about yourself and the party you will be traveling with.

    .row
      .three.columns
        .js-rr-tabs.p-rent-request--tab-area
          +side_tab_list()
            +tab("js-personal-info", true) Personal Info
              span.js-status-label.pull-right
            +tab("js-group-info") Group Info
              span.js-status-label.pull-right
            +tab("js-property-info") Property Info
              span.js-status-label.pull-right

      .nine.columns
        .row.tab-content
          +tab_panel("js-personal-info", true)
            form.js-rental-request-form
              h2 Personal Information
              .row
                .four.columns
                  +user_first_name(rentalRequest)
                .four.columns
                  +user_last_name(rentalRequest)

              .row
                .eight.columns
                  label Email
                  p= rentalRequest.email

              .row
                .eight.columns
                  +input('address1', 'address1', rentalRequest.address1, 'Address')
                  +input('address2', 'address2', rentalRequest.address2)

              .row
                .eight.columns
                  +input('city', 'city', rentalRequest.city, 'City')
              .row
                .five.columns
                  label(for="state") State
                  +state_select(rentalRequest.state)(id="state", name="state", class="u-full-width")
                .three.columns
                  +input('zip', 'zip', rentalRequest.zip, 'Zip')

              .row
                button(type="submit") Submit

          +tab_panel("js-group-info")
            form.js-rental-request-form
              h2 Group Information
              .row
                .four.columns
                  +start_date(rentalRequest)
                .four.columns
                  +end_date(rentalRequest)

              .row
                +flexible_dates(rentalRequest)

              .row
                .two.columns
                  +number_adults(rentalRequest)
                .two.columns
                  +number_children(rentalRequest)
                .four.columns
                  +input('budget', 'budget', rentalRequest.budget, 'Budget')(type='number', step=".01")

              .row
                .eight.columns
                  - var options = ['Just for Fun','Birthday','Wedding','Bachelor/Bachelorette','Just to Relax','Holiday','Graduation','Prom','Baby Shower'];
                  +select('occasion', 'occasion', 'Occasion', options, rentalRequest.occasion)

              .row
                .eight.columns
                  label(for="group-comments") Additional Comments
                  textarea.u-full-width#group-comments(name="groupComments")= rentalRequest.groupComments
              .row
                button(type="submit") Submit

          +tab_panel("js-property-info")
            form.js-rental-request-form
              h2 Property Information

              .row
                .two.columns
                  +input('bedrooms', 'bedrooms', rentalRequest.bedrooms, 'Preferred # of Beds')(type='number')

              .row
                .ten.columns
                  label Destinations
                  +destination_select(destinations, rentalRequest)

              .row
                .ten.columns
                  label Location Characteristics
                  +location_select(locations, rentalRequest)

              .row
                .ten.columns
                  label Desired Amenities
                  +amenity_select(amenities, rentalRequest)

              .row
                button(type="submit") Submit

  script.
    window.rentalRequest = !{JSON.stringify(rentalRequest)}
