mixin image(imgUrl, width, height)
  - var imgUrl = imgUrl ? imgUrl : 'http://placehold.it/' + width + 'x' + height
  img.u-max-full-width(src=imgUrl)

mixin image_with_overlay(imgUrl, width, height)
  .image-container
    a(href="#")&attributes(attributes)
      +image(imgUrl, width, height)
      .after
        block

