include ./forms

mixin create_button()
  button.button-primary&attributes(attributes)
    i.fa.fa-plus
    | &nbsp; Create

mixin property_type_select(selected)
  - var id = "type"
  - var name = "type"
  - var types = ['HOUSE', 'CONDO', 'HOTEL', 'MOTEL', 'BED_AND_BREAKFAST', 'BOAT'];
  +select(id, name, 'Property Type', types, selected)

mixin amenity_select(all, property)
  +attributeGroup('propertyAttributes', all, property.propertyAttributes)

mixin location_select(all, property)
  +attributeGroup('propertyAttributes', all, property.propertyAttributes)

mixin destination_select(all, property)
  +select('destination', 'destination', 'Destination', all, (property.destination ? property.destination.id : null))
