mixin destination_select(selected)
  //- TODO get from DB
  select#destination(name="destination")&attributes(attributes)
    option(value=null)
    each val, key in {"EAST_HAMPTON": 'East Hampton', "WEST_HAMPTON": 'West Hampton', "MONTAUK": 'Montauk'}
      option(value=key, selected=(selected==key ? 'selected' : null))= val
