include ./forms

//- Reusable form elements for the rent request

mixin user_first_name(rentalRequest)
  - var value = helpers.getNullSafeValue(rentalRequest, ['user', 'firstName'])
  +input('firstName', 'user[firstName]', value, 'First Name')(required='required')

mixin user_last_name(rentalRequest)
  - var value = helpers.getNullSafeValue(rentalRequest, ['user', 'lastName'])
  +input('lastName', 'user[lastName]', value, 'Last Name')(required='required')

mixin user_email(rentalRequest)
  - var value = helpers.getNullSafeValue(rentalRequest, ['user', 'email'])
  +input('email', 'user[email]', value, 'Email')(required='required')

mixin start_date(rentalRequest)
  - var value = helpers.getNullSafeValue(rentalRequest, ['startDate'])
  +input('startDate', 'startDate', value, 'Arrival Date')(class='js-start-date js-pikaday', required='required')

mixin end_date(rentalRequest)
  - var value = helpers.getNullSafeValue(rentalRequest, ['endDate'])
  +input('endDate', 'endDate', value, 'Departure Date')(class='js-end-date js-pikaday', required='required')

mixin flexible_dates(rentalRequest)
  - var isSelected = helpers.getNullSafeValue(rentalRequest, ['datesAreFlexible'])
  - var label = 'my dates are flexible'
  +checkbox_with_label('datesAreFlexible', 'datesAreFlexible', 'true', label, isSelected)(class="js-dates-are-flexible")

mixin number_adults(rentalRequest)
  - var value = helpers.getNullSafeValue(rentalRequest, ['adults'])
  +input('adults', 'adults', value, 'Adults (18+)')(type="number", step="1", min="1", required)

mixin number_children(rentalRequest)
  - var value = helpers.getNullSafeValue(rentalRequest, ['children'])
  +input('children', 'children', value, 'Children')(type="number", step="1", min="0", required)

mixin destination_select(all, rentalRequest)
  +attributeGroup('destinations', all, rentalRequest.destinations)

mixin amenity_select(all, rentalRequest)
  +attributeGroup('desiredPropertyAttributes', all, rentalRequest.desiredPropertyAttributes)

mixin location_select(all, rentalRequest)
  +attributeGroup('desiredPropertyAttributes', all, rentalRequest.desiredPropertyAttributes)
