mixin destination_select()
  //- TODO get from DB
  select#destination(name="destination")&attributes(attributes)
    option(value=null)
    option(value="EAST_HAMPTON") East Hampton
    option(value="WEST_HAMPTON") West Hampton
    option(value="MONTAUK") Montauk
