include ./forms

mixin destination_select(all, rentalRequest)
  +attributeGroup('destinations', all, rentalRequest.destinations)

mixin amenity_select(all, rentalRequest)
  +attributeGroup('desiredPropertyAttributes', all, rentalRequest.desiredPropertyAttributes)

mixin location_select(all, rentalRequest)
  +attributeGroup('desiredPropertyAttributes', all, rentalRequest.desiredPropertyAttributes)
