.row
  .twelve.columns
    h1.text-center About us
.row
  .four.columns.offset-by-two.columns.p-home--info-card
    h2.text-center Mission
  .four.columns.p-home--info-card
    h2.text-center History
.row
  .four.columns.offset-by-two.columns.p-home--info-card
    h2.text-center Press
  .four.columns.p-home--info-card
    h2.text-center Contact Us
