.row
  .twelve.columns
    h1.text-center About us
.row
  .five.columns.offset-by-one.column.p-home--info-card.js-info-card
    .front
      h2.text-center Mission
    .back
      p Rent Liaison’s mission is to enhance the way travelers find vacation rental properties.
        | We make this process more efficient by providing a platform that allows homeowners to
        | proactively target specific travelers based on the information and preferences that
        | the travelers communicate through “Rent Requests”.

  .five.columns.p-home--info-card.js-info-card
    .front
      h2.text-center History
    .back
      p Founded in 2015 with the purpose of reinventing vacation renting, Rent Liaison set out
        | to solve a real problem in the nascent vacation rental industry; that is the process by
        | which travelers and homeowners find each other. From a traveler’s standpoint, you might
        | find yourself spending hours scrolling through listing sites, starting dialogues with multiple
        | homeowners, and maybe even paying a broker to do it all for you. From a homeowner’s perspective,
        | you might receive a bunch of inquiries from potential travelers, but none of which are well-suited
        | for your property, whether it be that the demographics don’t work, their budget is off or that the
        | dates just aren’t available. On top of that, as a homeowner, you have to wait for travelers to contact you!
        | Rent Liaison tackles these issues by allowing homeowners to directly contact travelers with ready-to-go offers,
        |  thereby removing so many inefficiencies that are found in the vacation rental industry today.

  .five.columns.p-home--info-card.js-info-card
    .front
      h2.text-center Contact Us
    .back
      p For any general or employment related questions, please contact us at info@rentliaison.com

