.p-home-how-it-works

  .row
    .twelve.columns
      h1.text-center How it Works

  .row
    .four.columns
      h2.text-center Step 1
      h4.text-center Submit a Rent Request
    .four.columns
      h2.text-center Step 2
      h4.text-center Your Rent Request is Published
    .four.columns
      h2.text-center Step 3
      h4.text-center Owners Contact You
  
  .row
    .four.columns      
      .p-home-how-it-works--big-icon
        i.icon-center.fa.fa-paper-plane.fa-5x
      p Take a few minutes to tell us a little bit about yourself, your group and what you're looking for in your vacation rental.
      
    .four.columns
      .p-home-how-it-works--big-icon
        i.icon-center.fa.fa-database.fa-5x      
      p Once you submit your Rent Request, the information you communicate is published into our proprietary database that homeowners can view.

    .four.columns
      .p-home-how-it-works--big-icon
        i.icon-center.fa.fa-users.fa-5x
      p Homeowners send Property Profiles direct to your email, which you can share with family and friends and respond to the owner.
