.row
  .twelve.columns
    h1.text-center How it Works

.row
  //- TODO
  mixin img()
    div(style="background-color:#e1e1e1;height:200px;") placeholder

  .four.columns
    .text-center
      h2 Step 1
      p submit rent request
      +img()
  .four.columns
    .text-center
      h2 Step 2
      p your rent request is published
      +img()
  .four.columns
    .text-center
      h2 Step 3
      p owners contact you
      +img()
