.row
  .twelve.columns
    h1.text-center Welcome to Rent Liason

    h4.text-center You request it. We connect it.

.row
  .u-full-width
    .p-home--center-unit
      button.button.button-primary.p-home--big-button.js-show-rent-request Get Started
      .text-deemphasize.text-center by completing a rent request
      button.button.js-show-how-it-works How it Works
