.row
  .twelve.columns
    
    .row
      h1.text-center Welcome to
    
    .row
      .eight.columns.offset-by-two
        img.u-max-full-width(src="/images/rent_liaison_logo_large.png")
    
    .row
      h4.text-center Let us help you find the perfect vacation rental

.row
  .u-full-width
    .p-home--center-unit
      button.button.button-primary.p-home--big-button.js-show-rent-request Get Started
      .text-deemphasize.text-center by completing a rent request
      button.button.js-show-how-it-works How it Works
