.row
  .twelve.columns
    h1.text-center Welcome to Rent Liason

.row
  .u-full-width
    .p-home--center-unit
      button.button.button-primary.p-home--big-button Get Started
      .text-deemphasize.text-center by completing a rent request
      button.button How it Works
