.row
  .twelve.columns
    
    .row
      h1.text-center Welcome to
    
    .row
      .six.columns.offset-by-three
        img.u-max-full-width(src="/images/rent_liaison_logo_medium.png")
    
    .row
      h4.text-center Let us help you find the perfect vacation rental

.row
  .p-home--center-unit
    .row
      a.button.button-primary.p-home--big-button(data-internal="true", href="/rentrequest") Get Started
    .row
      .text-deemphasize.text-center by completing a rent request
    .row
      a.button(data-internal="true", href="/howitworks") How it Works
