include ../../mixins/rent_request

.row
  .twelve.columns
    h1.text-center Rent Request

.row
  .offset-by-one.column.ten.columns

    .js-form-alert.alert.hide

    p.text-center Help us find a property that's right for you by answering a few questions.

    form.js-rent-request-form(action="/rentalrequest", method="POST")
      fieldset
        legend Where to?
        .row
          .eight.columns.offset-by-two
            - var allDestinations = destinations ? destinations : []
            +destination_select(allDestinations, [])(class="u-full-width", required="required")

      fieldset
        legend When?
        .js-date-section
          .row
            .four.columns.offset-by-two
              +start_date()
              +flexible_dates()

            .four.columns
              +end_date()
              +checkbox_with_label('noSpecificDates', 'noSpecificDates', 'true', 'no specific dates', false)(class="js-no-dates")

      fieldset
        legend Who are you?
        .row
          .four.columns.offset-by-two
            +user_first_name()
          .four.columns
            +user_last_name()
        .row
          .four.columns.offset-by-two
            +user_email()
          .two.columns
            +number_adults()
          .two.columns
            +number_children()

      .row
        .three.columns.offset-by-two
          input.button-primary(type="submit", value="Submit")
