.row
  .twelve.columns
    h1.text-center Rent Request

.row
  .offset-by-three.columns.eight.columns
    form.js-rent-request-form(action="/rentalrequest", method="POST")
      fieldset
        legend Where to?
        .row
          .six.columns
            select#destination.u-full-width(name="destination")
              option East Hampton

      fieldset
        legend When?
        .row
          .three.columns
            label(for="startDate") Start Date
            input#startDate.js-pikaday.u-full-width(name="startDate", type="text")
          .three.columns
            label(for="endDate") End Date
            input#endDate.js-pikaday.u-full-width(name="endDate", type="text")
        .row
          label
            input#datesAreFlexible(name="datesAreFlexible", value="true", type="checkbox")
            .label-body my dates are flexible

      fieldset
        legend Who are you?
        .row
          .four.columns
            label(for="firstName") First Name
            input#firstName.u-full-width(name="user[firstName]", type="text")
          .four.columns
            label(for="lastName") Last Name
            input#lastName.u-full-width(name="user[lastName]", type="text")
        .row
          .eight.columns
            label(for="email") Email
            input#email.u-full-width(name="user[email]", type="email")

      input.button-primary(type="submit", value="Submit")
