include ../../mixins/rent_request

.row
  .twelve.columns
    h1.text-center Rent Request

.row
  .offset-by-three.columns.eight.columns
    form.js-rent-request-form(action="/rentalrequest", method="POST")
      fieldset
        legend Where to?
        .row
          .six.columns
            +destination_select()(class="u-full-width", required="required")

      fieldset
        legend When?
        .row
          label
            input#js-no-dates(value="true", type="checkbox")
            .label-body no specific dates

        .js-date-section
          .row
            .three.columns
              label(for="js-start-date") Start Date
              input#js-start-date.js-pikaday.u-full-width(name="startDate", type="text")
            .three.columns
              label(for="js-end-date") End Date
              input#js-end-date.js-pikaday.u-full-width(name="endDate", type="text")
          .row
            label
              input#datesAreFlexible(name="datesAreFlexible", value="true", type="checkbox")
              .label-body my dates are flexible

      fieldset
        legend Who are you?
        .row
          .four.columns
            label(for="firstName") First Name
            input#firstName.u-full-width(name="user[firstName]", type="text", required)
          .four.columns
            label(for="lastName") Last Name
            input#lastName.u-full-width(name="user[lastName]", type="text", required)
        .row
          .eight.columns
            label(for="email") Email
            input#email.u-full-width(name="user[email]", type="email", required)

      input.button-primary(type="submit", value="Submit")
