extends ../../layout

block nav
  #js-nav.nav
    ul.nav-list
      li.nav-list-item
        a.nav-link.js-nav-link(href="/") Logo (TODO)

      .u-pull-right
        li.nav-list-item
          a.nav-link.active(href="/propertyowners") Property Owners

block body

  h2 Login

  if errors && errors.length
    each error in errors
      p= error

  form(role="form", action="/auth/local", method="post")
    .row
      input(type="text", name="identifier", placeholder="Username or Email")
      input(type="password", name="password", placeholder="Password")
    .row
      button(type="submit") Sign in

  .row
    a.button(href="/auth/google")
      i.fa.fa-google-plus.fa-lg &nbsp;
      | Sign in with google

    a.button(href="/auth/facebook")
      i.fa.fa-facebook-official.fa-lg &nbsp;
      | Sign in with facebook

  h2 Sign Up

  if errors && errors.length
    each error in errors
      p= error

  form(role="form", action="/auth/local/register", method="post")
    .row
      input(type="text", name="username", placeholder="Username")
      input(type="text", name="email", placeholder="Email")
      input(type="password", name="password", placeholder="Password")

      //- TODO not this
      input(style="display:none", readonly, type="text", name="type", value="PROPERTY_OWNER")
    .row
      button(type="submit") Sign up
