
#p-renter-contact

  .property-selection
    if properties.length < 1
      p Please create properties to continue.

    else
      p Your properties:
      ul
        for p in properties
          li
            label
              input.js-choose-property(type="checkbox", data-property-id=p.id)
              = p.name

  .instructions


  .js-message-body
    p Hello, I am reaching out via Rent Liason. I have identified a few options that meet your needs:
    .js-selected-properties
      ul
        //- rendered dynamically

  button.button-primary.js-send
    i.fa.fa-envelope
    | &nbsp; Send
