include ../../mixins/forms
include ../../mixins/property

form.js-property-form

  .row
    .six.columns
      .hide.alert.js-error-alert

  .row
    .six.columns
      +input('name', 'name', property.name, 'Property Name')

  .row
    .six.columns
      label Description
      textarea.u-full-width(name="description")
        =property.description

  .row
    .six.columns
      +property_type_select(property.type)

  .row
    .six.columns
      +destination_select(destinations, property)

  .row
    .six.columns
      label(for="locations") Locations
      +location_select(locations, property)

  .row
    .six.columns
      label(for="amenities") Amenities
      +amenity_select(amenities, property)

  .row
    if isNew
      +create_button()(type="submit")
    else
      button.button-primary(type="submit") Update
