include ../../mixins/forms
include ../../mixins/property

form.js-property-form
  
  if ! property.id
    .row
      p This information will be used 
        | to create a public Property Profile, which will be viewable by 
        | potential renters.        
    .row
      .hide.alert.js-error-alert

  .row
    .six.columns
      .row
        +input('name', 'name', property.name, 'Property Name')(required)

      .row
        +textarea('description', 'description', 'Description')
          =property.description

      .row
        .six.columns
          +destination_select(destinations, property)
        .six.columns
          +property_type_select(property.type)

       .row
        .three.columns
          +input('bedrooms', 'bedrooms:number', property.bedrooms, 'Beds')(type="number", step="0.5", min="0", required)
        .three.columns
          +input('bathrooms', 'bathrooms:number', property.bathrooms, 'Baths')(type="number", step="0.5", min="0", required)
        .three.columns
          +input('sleeps', 'sleeps:number', property.sleeps, 'Sleeps')(type="number", step="1", min="0", required)

      .row
        - var listings = property.externalListings ? property.externalListings : []
        label(for="externalUrls") External Listings
        each i in [0,1,2]
          - var val = listings[i] ? listings[i].url : ''
          +input('externalListings['+ i +']', 'externalListings['+ i +'][url]', val, null)

    .six.columns
      .row
        label(for="locations") Locations
        +location_select(locations, property)

      .row
        label(for="amenities") Amenities
        +amenity_select(amenities, property)

      .row
        +textarea('amenitiesDescription', 'amenitiesDescription', 'Amenities Description')
          =property.amenitiesDescription

  .row
    .pull-right
      if isNew
        +create_button()(type="submit")
      else
        button.button-primary(type="submit") Update
