include ../../mixins/forms
include ../../mixins/property

form.js-property-form

  .row
    .six.columns
      .row
        .hide.alert.js-error-alert

      .row
        +input('name', 'name', property.name, 'Property Name')

      .row
        label Description
        textarea.u-full-width(name="description")
          =property.description

      .row
        .six.columns
          +destination_select(destinations, property)
        .six.columns
          +property_type_select(property.type)

      .row
        .three.columns
          +input('bedrooms', 'bedrooms', property.bedrooms, 'Beds')(type="number")
        .three.columns
          +input('bathrooms', 'bathrooms', property.bathrooms, 'Baths')(type="number")
        .three.columns
          +input('sleeps', 'sleeps', property.sleeps, 'Sleeps')(type="number")

    .six.columns
      .row
        label(for="locations") Locations
        +location_select(locations, property)

      .row
        label(for="amenities") Amenities
        +amenity_select(amenities, property)

      .row
        - var listings = property.externalListings ? property.externalListings : []
        label(for="externalUrls") External Listings
        each i in [0,1,2]
          - var val = listings[i] ? listings[i].url : ''
          +input('externalListings['+ i +']', 'externalListings['+ i +'][url]', val, null)

  .row
    .pull-right
      if isNew
        +create_button()(type="submit")
      else
        button.button-primary(type="submit") Update
