extends ../../property_owner_layout

block body

  h1 Welcome to Rent Liaison.

  h3 Step 1:&nbsp;
    a(href="/properties") Create a Property Profile
  p A Property Profile is an overview of a property complete with photos, a description, amenities and location, that you send to a traveler’s email at initial contact, To get started, go to the “My Property Profiles” tab to create a Property Profile for each of the properties that you wish to market.
   
  h3 Step 2:&nbsp;
    a(href="/rentalrequest") Peruse Through Travelers’ Rent Requests
  p A Rent Request is information submitted by an interested traveler that contains information about the traveler, his/her group, and the characteristics of the desired property. Once creating a Property Profile, visit the “Rent Requests” tab, which displays all Rent Requests submitted.
   
  h3 Step 3: Send Travelers Property Profile
  p Select the travelers that you wish to reach out to, and then select the Property Profiles that you wish to send them. The traveler will receive the Property Profiles direct to their email.
   
  h3 Step 4: Await Travelers Response and Book Away
  p If interested, the traveler can respond to your initial email. If he or she responds, the ball is in your court and you can choose to move forward with the booking through any channel you prefer.
