extends ../../property_owner_layout

block body

  h1 Welcome to Rent Liaison.

  p Rent Liaison is a new online marketplace for real estate rentals, that puts
    | the power in the hands of the property owner by allowing you to browse our
    | database of interested renters. 
  p BLAH BLAH -- Bryan, this might be a good place to put a brief description of
    | how to use the site, targeted at property owners. Can you come up with some content?

  p View active rental requests&nbsp;
    a(href="/rentalrequest") here.
