include ../../mixins/property

extends ../../property_owner_layout

block body

  #js-properties.p-properties

    .row
      h1 My Property Profiles

      +create_button()(class='js-create', type='button')

    if properties.length > 0
      .property-list
        each p in properties
          .row
            .property-list-item.u-full-width
              .property-list-item-url.pull-right
                a(href="/property/#{p.slug}", target="_blank") view public listing &nbsp;
                  i.fa.fa-external-link

              .property-list-item-image.pull-left

              .property-list-item-title
                h4= p.name

              .property-list-item-description
                = p.location
                br
                |Amenities: #{p.amenities}

              .property-list-item-controls
                button.js-edit Edit

    else
      h3 You haven't created any properties yet.
