include ../../mixins/images
include ../../mixins/tags

.four.columns
  - var imgUrl = (property.images && property.images.length ? property.images[0].url : null)
  +image_with_overlay(imgUrl, 300, 200)(class="js-upload")
    i.fa.fa-picture-o.fa-4x.property-image-overlay-content

.eight.columns
  .row
    .pull-left
      h4.property-list-item--title= property.name

    .pull-right
      a(href="/property/#{property.slug}", target="_blank") view public listing &nbsp;
        i.fa.fa-external-link

  - var dest = property.destination ? property.destination.name : ''
  if dest
    .row
      | in &nbsp;
      +tag()(class="active")
        = helpers.humanize(dest)

  .row
    property.property-list-item--description= helpers.shorten(property.description, 200)

  .row
    button.js-edit Edit
    button.js-upload Upload Pics
