include ../../mixins/rent_request

extends ../../property_owner_layout

mixin rent_request_field(field, type)
  if type === 'date'
    if field
      =moment(field).format('MMM D, YYYY')
  else if type === 'boolean'
    if field
      span.text-center &#10003;
  else
    if field
      =field

mixin rr_td()
  td(data-rent-request-id=id)
    block

block body

  #js-rental-request-collection

    h1 Rent Requests

    //- p Filter by
    //- .u-pull-left
    //-   label Destination
    //-   +destination_select()

    //- clear float
    .u-cf

    if rentalRequests.length > 0
      table
        thead
          th Created
          th Destination
          th Budget
          th Guests
          th Start Date
          th End Date
          th Flexible Dates?
          th Renter Name

        tbody
          each rr in rentalRequests
            tr.clickable-tr.js-show-rent-request-detail(data-rent-request-id=rr.id)
              td
                +rent_request_field(rr.createdAt, 'date')
              td
                +rent_request_field(rr.getDestination())
              td
                +rent_request_field(rr.budget)
              td
                +rent_request_field(rr.travelers)
              td
                +rent_request_field(rr.startDate, 'date')
              td
                +rent_request_field(rr.endDate, 'date')
              td
                +rent_request_field(rr.datesAreFlexible, 'boolean')
              td
                = rr.user.getFullName()

    else
      p Looks like there are currently no active rent requests in our system. Try checking back later!


  script.
    window.rentalRequests = !{JSON.stringify(rentalRequests)}
    window.propertyProfiles = !{JSON.stringify(propertyProfiles)}
