include ../../mixins/forms

extends ../../property_owner_layout

mixin rr_td()
  td(data-rent-request-id=id)
    block

mixin money_filter(id, name, label, filterOperator)
  +input(id, name, null, label)(type="number", step=".01", class='js-filter', data-filter-operator=filterOperator)

block body

  #js-rental-requests
    
    .row
      h1 Rent Requests

    .js-rental-request-filters
      .row
        p Filter by
      .row
        .four.columns
          - var options = ['none', 'Destination matches one of my properties']
          +select('filter_destination', 'filter_destination', 'Destination', options, null)

        .four.columns
          label Budget
          .js-budget-slider
            .js-slider
            .four.columns
              | Min:&nbsp;
              span.js-filter-min
            .four.columns.offset-by-four
              | Max:&nbsp;
              span.js-filter-max
              
        .four.columns
          label Dates
          .js-date-slider
            .js-slider
            .four.columns
              | Min:&nbsp;
              span.js-filter-min
            .four.columns.offset-by-four
              | Max:&nbsp;
              span.js-filter-max
                
    .row
      include ./rentalrequests_collection

  script.
    window.rentalRequests = !{JSON.stringify(rentalRequests)}
