if rentalRequests.length > 0
  table.u-full-width
    thead
      th Renter Name
      th Destination(s)
      th Budget
      th Guests
      th Start Date
      th End Date
      th Flexible Dates?
      th Created

    tbody#js-rent-request-collection
      each rentalRequest in rentalRequests
        tr.clickable-tr.js-rent-request-model(data-rent-request-id=rentalRequest.id)
          include ./rentalrequests_collection_model

else 
  h5 Looks like there are currently no active rent requests in our system. Please check back later!
