mixin rent_request_field(field, type)
  if type === 'date'
    if field
      =moment(field).format('MMM D, YYYY')
  else if type === 'boolean'
    if field
      .text-center &#10003;
  else
    if field
      =field

mixin destinations(destinations)
  - var destinationNames = _(rentalRequest.destinations).pluck('name').map(helpers.humanize).value().join(', ')
  +rent_request_field(destinationNames)

//- END MIXINS

td
  - var name = rentalRequest.user.firstName + ' ' + rentalRequest.user.lastName
  +rent_request_field(name)
td
  +destinations(destinationNames)
td
  +rent_request_field(accounting.formatMoney(rentalRequest.budget))
td
  +rent_request_field(rentalRequest.adults + rentalRequest.children)
td
  +rent_request_field(rentalRequest.startDate, 'date')
td
  +rent_request_field(rentalRequest.endDate, 'date')
td
  +rent_request_field(rentalRequest.datesAreFlexible, 'boolean')
td
  +rent_request_field(rentalRequest.createdAt, 'date')
