.p-properties {

  .property-page-title {
    margin-bottom: 1em;
    display: table;
    table-layout: fixed;

    button {
      margin-left: 4em;
    }

    > * {
      display: table-cell;
      vertical-align: super;
    }

  }

  .property-list {

    .property-list-item {
      padding: 1em;
      margin-top: 15px;
      border: 1px solid @border-color;
      border-radius: @global-radius;
      position: relative;
    }

    .property-list-item--title {
      margin-bottom: 0px;
    }

    .property-list-item--description {
      margin-top: 1em;
    }

    .property-list-item--controls {
      margin-top: 1em;
      margin-bottom: 0.75em;
      position: absolute;
      bottom: 0;
    }
  }

}

.property-image-controls {
  margin-top: 3em;
}

.property-image-overlay-content {
  position: absolute;
  top: 70px;
  left: 110px;
}
