.p-properties {

  .property-list {

    .property-list-item {
      padding: 1em;
      margin-top: 15px;
      border: 1px solid @border-color;
      border-radius: @global-radius;
    }

    .property-list-item--title {
      margin-bottom: 0px;
    }

    .property-list-item--description {
      margin-top: 1em;
    }

  }

}

.property-image-controls {
  margin-top: 3em;
}

.property-image-overlay-content {
  position: absolute;
  top: 70px;
  left: 110px;
}
